@import "tailwindcss";

:root {
  --navbar-width: 64px;
  --sidebar-width: 280px;
  --options-width: 320px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #f5f5f5;
  color: #1a1a1a;
  min-height: 100vh;
  overflow-x: hidden;
}


/* AJOUT DE STYLE POUR L'INSTANT */

.topbar 
{
  display: none;
}
